
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
    margin: 0;    
}



#Home h1, 
#Home h2{
    margin-left: 100px;
}

#Home h1{
    font-size: 70px;
    
}

#Home h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#Home{

    padding-bottom: 100px  ;
}
    h1 {
        color: rgb(34, 171, 226);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 220%

    }
    h2 {
       color: white;
        font-size: 170%;
    }
    p {
       
        font-size: 150%
    }
    li {
        color: rgb(155, 152, 152);
        font-size: 150%
        
    }

.firstSection{
    height: 50vh;
    background-image: url(./imagens/background.png);
    background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.hero {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 40, 80, 0.85), rgba(0, 40, 80, 0.85)),
    url("./imagens/background.png");
  background-size: cover;
  background-position: center;
}

.hero-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  max-width: 600px;
}

    .navbar {
    padding: 10px;
    display: flex;
    align-items: center; /* alinha verticalmente */
    justify-content: space-between;

}

.navbar img {
    width: 70px;
    margin-right: 20px;
}

.navbar a {
    color:white;
    text-decoration: none;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
    font-weight: bold;
}
    
.navbar a:hover{
    color: rgba(90, 138, 177, 0.822);
    transition: color 0.4s ease 0.2s;
    font-size: 110%;
    transition: font-size 0.1s ease 0.2s;
    text-decoration: underline color orange;
}

.menu {
    flex: 1;
    text-align: center; /* centraliza os links */
}


    #Home{
        margin-top: 80px;
    }


    #Integrantes{
        text-align: center;
        margin-top: 80px;
    }


    #Produto{
        text-align: center;
        margin-top: 80px;
    }

    #Produto h2{
        color: black;
    }

    #Sobre{
        margin-top: 80px;
        text-align: center;
        margin-bottom: 100px;
    }


.integrantes {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  background: #f5f7fa;
  padding: 20px;
  border-radius: 12px;
  width: 220px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.card p {
  font-size: 16px;
  color: #333;
}


#produto {
    text-align: center;
    padding: 80px 20px;
  }
  
  #produto h1 {
    font-size: 36px;
    color: #2c3e50;
  }
  
  #produto h1 span {
    border-bottom: 3px solid #3498db;
  }
  
  .subtitulo {
    color: #777;
    margin-bottom: 40px;
  }
  
  /* CARD */
  .produto-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
    background: #f5f7fa;
    padding: 25px;
    border-radius: 12px;
    transition: 0.3s;
  }
  
  .produto-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
  
  .produto-icon {
    font-size: 40px;
  }

  .produto-icon img{
    width: 100px;
  }
  
  .produto-info {
    text-align: left;
    flex: 1;
    margin: 0 20px;
  }
  
  .produto-info h3 {
    margin-bottom: 8px;
    color: #2c3e50;
  }
  
  .produto-info p {
    color: #666;
    font-size: 14px;
  }
  
  .produto-arrow {
    font-size: 24px;
    color: #3498db;
  }


  #secondSection {
    background-color: #e9faff;
    padding-bottom: 40px;
  }

  #Produto h1{
    padding-top: 20px;
  }


  .subtitulo {
    max-width: 800px;      /* limita largura da caixa */
    margin: 0 auto;        /* centraliza na tela */
    text-align: center;    /* centraliza o texto */
    line-height: 1.6;      /* melhora leitura */
    color: #555;
  }

footer{
  background-color: #004e66;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

footer a{
  color: white;
  text-decoration: none;
  font-size: 20px
}

footer p{
  color: white;
  font-size: 25px;
}








.github-mini {
  text-align: center;
  margin-top: 30px;
}

.github-mini a {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 10px 18px;
  border-radius: 10px;

  background: #0f172a;
  color: white;
  text-decoration: none;
  font-weight: 500;

  transition: 0.3s;
}

.github-mini a img {
  width: 18px;
  filter: invert(1); /* deixa branco */
}

.github-mini a:hover {
  background: #1e293b;
  transform: translateY(-2px);
}